@charset "UTF-8";
body {
   background -color: whitesmoke;
   margin: 0;
   padding: 0;
   color: #000;
   }
   
   
#container {
     width: 1024px;
     display: block;
     min-height: 600px;
     margin: 0 auto;
     padding: 0;  
     background-color: whitesmoke;
     color: black;
     text-align: center;
     overflow: hidden;
     font size: 24px;
} 

.pre-header {
 
     width: 100%;
     background-color: purple;
     height: 70px;
     display: block;
     clear: both;
     margin-top: 20px;
}
        

.main-header{
     Handcrafted Jewelry
     width: 40px;
     background-color: brown;
     height: 40px;
     margin-top: 20px;
     